.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
    color:black
  }

  .icons{
    
    text-align: center;
  }

  .port-img {
    height: 200px;
    width: 200px;
  }

  .profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .row {
    display: flex;
    text-align: center;
  }

  .name {
    width: 600px;
    height: 120px;
  
    padding: 5px;
  }

  .email {
    width: 600px;
    height: 120px;
  
    padding: 5px;
  }

.column {
  flex: 50%;
  padding: 10px;
  
}

.m-5{
  text-align: center;
}

.contact-form {
 
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: rgba(255,255,255, 0.75);
}

.resume{
  padding-left: 50px;
}



